body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}
a { color:white } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:white }

.container {
    text-align: center;
width: 100%;
height: auto;
}

.sub-titles {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;
}

.sub-titles h2 {
    	font-size: 1.5em;
	color: black;
	width: 232px;
}
.circles {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.circle-black {
    border-radius:50%;
    background-color:rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
	width: 232px;
	height: 232px;
}


.images {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.circle-black img {
width: 232px;
height: auto;
}

.circle-red {
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color:rgba(209.00000274181366, 32.00000189244747, 49.00000087916851, 1);
	width: 232px;
	height: 232px;
}

.circle-red img {
   width: 232px;
   height: auto;
    }

.main-title {
    font-size: 2.5em;
    margin-bottom: 30px;
}

ul { 
	color:rgba(255, 255, 255, 1);
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	font-family:Inter;
	text-align:left;
	font-size:26px;
	letter-spacing:0;
	margin-bottom: 50px;
}

.frame-red { 
	background-color:rgba(209.00000274181366, 32.00000189244747, 49.00000087916851, 1);
	width: 85%;
	height: auto;
	justify-content: space-around;
	text-align: center;
}

.frame-black { 
	background-color:rgba(0,0,0, 1);
	width: 85%;
	height: auto;
	justify-content: space-around;
	text-align: center;
}
.h1_text { 
	color:rgba(255, 255, 255, 1);
	width: 100%;
	height: auto;
	display: flex;
	font-family:Inter;
	text-align:center;
	justify-content: space-around; 
	font-size:40px;
	letter-spacing:0;
}
.h1_text_black { 
	color:rgba(0, 0, 0, 1);
	width: 100%;
	height: auto;
	display: flex;
	font-family:Inter;
	text-align:center;
	justify-content: space-around; 
	font-size:40px;
	letter-spacing:0;
}
.back_text { 
	color:rgba(255, 255, 255, 1);
	width: 100%;
	height: auto;
	font-family:Inter;
	text-align:center;
	font-size:26px;
	justify-content: center;
	letter-spacing:0;
}
